In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['font.family'] = 'Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus'] = False

In [3]:
df = pd.read_csv('data/도로교통공단_전국_사망교통사고정보(2018).csv',
                encoding='euc-kr')
df

,발생년,발생년월일시,발생분,주야,요일,사망자수,사상자수,중상자수,경상자수,부상신고자수,...,도로형태_대분류,도로형태,가해자_당사자종별_대분류,가해자_당사자종별,피해자_당사자종별_대분류,피해자_당사자종별,발생위치X_UTMK,발생위치Y_UTMK,경도,위도
0,2018,2018021406,35,주,수,1,1,0,0,0,...,단일로,기타단일로,승용차,승용차,보행자,보행자,950497.0,1954702.0,126.939274,37.590388
1,2018,2018090205,23,야,일,1,1,0,0,0,...,교차로,교차로횡단보도내,승용차,승용차,보행자,보행자,953337.0,1950150.0,126.971732,37.549508
2,2018,2018121522,35,야,토,1,1,0,0,0,...,단일로,기타단일로,이륜차,이륜차,없음,없음,956967.0,1954807.0,127.012552,37.591659
3,2018,2018082311,30,주,목,1,1,0,0,0,...,단일로,기타단일로,승합차,승합차,없음,없음,958020.0,1959193.0,127.024227,37.631240
4,2018,2018071600,50,야,월,1,1,0,0,0,...,교차로,교차로횡단보도내,화물차,화물차,보행자,보행자,957606.0,1958258.0,127.019590,37.622794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3652,2018,2018052103,55,야,월,1,1,0,0,0,...,단일로,기타단일로,승용차,승용차,없음,없음,973070.0,1988564.0,127.193701,37.896529
3653,2018,2018060808,43,주,금,1,1,0,0,0,...,단일로,기타단일로,화물차,화물차,농기계,농기계,979900.0,2006212.0,127.270890,38.055765
3654,2018,2018012010,15,주,토,1,1,0,0,0,...,단일로,기타단일로,승용차,승용차,없음,없음,1001226.0,1959902.0,127.513896,37.638589
3655,2018,2018020321,5,야,토,1,1,0,0,0,...,단일로,기타단일로,승용차,승용차,승용차,승용차,1000491.0,1988419.0,127.505584,37.895621
3656,2018,2018120310,5,주,월,1,2,0,1,0,...,단일로,교량위,승용차,승용차,승용차,승용차,962029.0,2000296.0,127.067505,38.001873

In [8]:
# 1. 서울에서 일어난 요일별사망자수, 사상자수 를 출력하시요
dfSeoul = df[df['발생지시도']=='서울'][['요일','사망자수','사상자수'] ]
dfSeoul.groupby('요일').sum().loc[ ['월','화','수','목','금','토','일'] ]

    사망자수  사상자수
요일
월     53    84
화     41    45
수     37    48
목     52    76
금     38    52
토     46    62
일     37    58

In [ ]:
2. 부산에서 발생한 총 사망자수를 구하시요

3. 서울지역 월요일에 발생한 사상자수
사고유형 법규위반을 구하시요

4.횡단중 일어난 사고의 요일 
발생지시도, 법규위반, 피해자_당사자종별
을 구하시요

In [11]:
df[df['발생지시도']=='부산']['사망자수'].sum()

123

In [14]:
df[ (df['발생지시도']=='서울' ) & (df['요일']=='월' )][['사상자수','사고유형','법규위반']]

      사상자수        사고유형         법규위반
4        1          기타  안전운전 의무 불이행
6        1         횡단중         신호위반
26       1          기타  안전운전 의무 불이행
27       1  길가장자리구역통행중  안전운전 의무 불이행
29       1          기타  보행자 보호의무 위반
424      3        측면충돌  안전운전 의무 불이행
427      1         횡단중         신호위반
430      1         횡단중         신호위반
431      1          기타  안전운전 의무 불이행
437      1         횡단중  보행자 보호의무 위반
443      1       보도통행중  안전운전 의무 불이행
447      2  길가장자리구역통행중  기타(운전자법규위반)
449      1         횡단중  안전운전 의무 불이행
450      1       공작물충돌  안전운전 의무 불이행
531      9          추돌  안전운전 의무 불이행
900      1         횡단중         신호위반
908      1         횡단중         신호위반
915      1         횡단중  안전운전 의무 불이행
919      1  길가장자리구역통행중  안전운전 의무 불이행
924      1          기타  안전운전 의무 불이행
928      1       보도통행중  기타(운전자법규위반)
929      1       차도통행중  안전운전 의무 불이행
1355     4        정면충돌         신호위반
1357     1          기타  안전운전 의무 불이행
1362     1          기타  안전운전 의무 불이행
1784     1        정면충돌       중앙선 침범
1795     3       보도통행중  기타(운전자법규위반)
1800     1         횡단중  안전운전 의무 불이행
1809     2        측면충돌       중앙선 침범
1813     1          기타     안전거리 미확보
2239     1        측면충돌  교차로 통행방법 위반
2240     1          기타  안전운전 의무 불이행
2246     1       공작물충돌  안전운전 의무 불이행
2249     1          기타  안전운전 의무 불이행
2255     1         횡단중       중앙선 침범
2271     1          기타  안전운전 의무 불이행
2713     2        정면충돌         신호위반
2714     1        측면충돌       중앙선 침범
2715     2        정면충돌         신호위반
2725     1          기타  안전운전 의무 불이행
2726     1          기타  안전운전 의무 불이행
2728     2        측면충돌         신호위반
2729     1       차도통행중           과속
2730     1         횡단중  안전운전 의무 불이행
2732     3          기타  안전운전 의무 불이행
2738     1       보도통행중  기타(운전자법규위반)
3163     1       차도통행중  안전운전 의무 불이행
3165     1          기타  안전운전 의무 불이행
3181     1          기타  안전운전 의무 불이행
3189     9        측면충돌         신호위반
3191     1          기타  안전운전 의무 불이행
3200     1         횡단중  안전운전 의무 불이행
3202     2        측면충돌  교차로 통행방법 위반

In [16]:
df[df['사고유형']=='횡단중'][['발생지시도', '법규위반', '피해자_당사자종별']]

     발생지시도         법규위반 피해자_당사자종별
0       서울  안전운전 의무 불이행       보행자
1       서울  안전운전 의무 불이행       보행자
5       서울  안전운전 의무 불이행       보행자
6       서울         신호위반       보행자
7       서울           과속       보행자
...    ...          ...       ...
3636    경기  보행자 보호의무 위반       보행자
3639    경기         신호위반       보행자
3643    경기  안전운전 의무 불이행       보행자
3646    경기  안전운전 의무 불이행       보행자
3647    경기  안전운전 의무 불이행       보행자

[791 rows x 3 columns]

In [ ]:
졸음운전교통사고..
1. 3개의 데이터를 병합하시요.
====이후문제는 병합한 데이터프레임을 이용 ===========
2. 년도, 월별로 인덱스를 설정(멀티인덱스) 하고
데이터를 보여 주시요
3. 년도 및 월별 평균 사망자를 보여주시요

4.  2016년 사고대비 사망율을 구하시요

5. 2014년도 월별 사망, 부상 데이터를 바차트로
보여주시요

6. 2015년 대비  사망이 가장 많이 증가한
2016년 도 월을 구하시요

In [17]:
df2014 = pd.read_csv('data/2014년 졸음운전 교통사고.csv',
                encoding='euc-kr')
df2014

          구분  사고(건)  사망(명)  부상(명)
0    2014년1월    169      7    347
1    2014년2월    145      3    268
2    2014년3월    206     12    358
3    2014년4월    182      4    360
4    2014년5월    218     17    474
5    2014년6월    233     13    457
6    2014년7월    229     14    431
7    2014년8월    222      9    447
8    2014년9월    225     15    430
9   2014년10월    210     14    392
10  2014년11월    209     10    386
11  2014년12월    178     12    329

In [18]:
df2015 = pd.read_csv('data/2015년 졸음운전 교통사고.csv',
                encoding='euc-kr')
df2015

          구분  사고(건)  사망(명)  부상(명)
0    2015년1월    205      8    375
1    2015년2월    175      8    375
2    2015년3월    237      4    492
3    2015년4월    227     10    486
4    2015년5월    231      9    504
5    2015년6월    207      8    401
6    2015년7월    273      7    556
7    2015년8월    268     19    534
8    2015년9월    252     10    501
9   2015년10월    214     14    475
10  2015년11월    199      3    398
11  2015년12월    213      8    428

In [19]:
df2016 = pd.read_csv('data/2016년 졸음운전 교통사고.csv',
                encoding='euc-kr')
df2016

          구분  사고(건)  사망(명)  부상(명)
0    2016년1월    192      5    387
1    2016년2월    174      6    328
2    2016년3월    217      7    435
3    2016년4월    216      7    419
4    2016년5월    239     13    522
5    2016년6월    200     12    362
6    2016년7월    227      9    460
7    2016년8월    230      7    490
8    2016년9월    187     13    347
9   2016년10월    183     10    367
10  2016년11월    200      5    418
11  2016년12월    168      4    364

In [21]:
dfM = pd.concat([df2014,df2015,df2016])
dfM

          구분  사고(건)  사망(명)  부상(명)
0    2014년1월    169      7    347
1    2014년2월    145      3    268
2    2014년3월    206     12    358
3    2014년4월    182      4    360
4    2014년5월    218     17    474
5    2014년6월    233     13    457
6    2014년7월    229     14    431
7    2014년8월    222      9    447
8    2014년9월    225     15    430
9   2014년10월    210     14    392
10  2014년11월    209     10    386
11  2014년12월    178     12    329
0    2015년1월    205      8    375
1    2015년2월    175      8    375
2    2015년3월    237      4    492
3    2015년4월    227     10    486
4    2015년5월    231      9    504
5    2015년6월    207      8    401
6    2015년7월    273      7    556
7    2015년8월    268     19    534
8    2015년9월    252     10    501
9   2015년10월    214     14    475
10  2015년11월    199      3    398
11  2015년12월    213      8    428
0    2016년1월    192      5    387
1    2016년2월    174      6    328
2    2016년3월    217      7    435
3    2016년4월    216      7    419
4    2016년5월    239     13    522
5    2016년6월    200     12    362
6    2016년7월    227      9    460
7    2016년8월    230      7    490
8    2016년9월    187     13    347
9   2016년10월    183     10    367
10  2016년11월    200      5    418
11  2016년12월    168      4    364

In [24]:
dfM['년도'] = dfM['구분'].str[:5]
dfM['월'] = dfM['구분'].str[5:]
dfM

          구분  사고(건)  사망(명)  부상(명)     년도    월
0    2014년1월    169      7    347  2014년   1월
1    2014년2월    145      3    268  2014년   2월
2    2014년3월    206     12    358  2014년   3월
3    2014년4월    182      4    360  2014년   4월
4    2014년5월    218     17    474  2014년   5월
5    2014년6월    233     13    457  2014년   6월
6    2014년7월    229     14    431  2014년   7월
7    2014년8월    222      9    447  2014년   8월
8    2014년9월    225     15    430  2014년   9월
9   2014년10월    210     14    392  2014년  10월
10  2014년11월    209     10    386  2014년  11월
11  2014년12월    178     12    329  2014년  12월
0    2015년1월    205      8    375  2015년   1월
1    2015년2월    175      8    375  2015년   2월
2    2015년3월    237      4    492  2015년   3월
3    2015년4월    227     10    486  2015년   4월
4    2015년5월    231      9    504  2015년   5월
5    2015년6월    207      8    401  2015년   6월
6    2015년7월    273      7    556  2015년   7월
7    2015년8월    268     19    534  2015년   8월
8    2015년9월    252     10    501  2015년   9월
9   2015년10월    214     14    475  2015년  10월
10  2015년11월    199      3    398  2015년  11월
11  2015년12월    213      8    428  2015년  12월
0    2016년1월    192      5    387  2016년   1월
1    2016년2월    174      6    328  2016년   2월
2    2016년3월    217      7    435  2016년   3월
3    2016년4월    216      7    419  2016년   4월
4    2016년5월    239     13    522  2016년   5월
5    2016년6월    200     12    362  2016년   6월
6    2016년7월    227      9    460  2016년   7월
7    2016년8월    230      7    490  2016년   8월
8    2016년9월    187     13    347  2016년   9월
9   2016년10월    183     10    367  2016년  10월
10  2016년11월    200      5    418  2016년  11월
11  2016년12월    168      4    364  2016년  12월

In [25]:
dfM.drop( columns=['구분'],inplace=True)
dfM

    사고(건)  사망(명)  부상(명)     년도    월
0     169      7    347  2014년   1월
1     145      3    268  2014년   2월
2     206     12    358  2014년   3월
3     182      4    360  2014년   4월
4     218     17    474  2014년   5월
5     233     13    457  2014년   6월
6     229     14    431  2014년   7월
7     222      9    447  2014년   8월
8     225     15    430  2014년   9월
9     210     14    392  2014년  10월
10    209     10    386  2014년  11월
11    178     12    329  2014년  12월
0     205      8    375  2015년   1월
1     175      8    375  2015년   2월
2     237      4    492  2015년   3월
3     227     10    486  2015년   4월
4     231      9    504  2015년   5월
5     207      8    401  2015년   6월
6     273      7    556  2015년   7월
7     268     19    534  2015년   8월
8     252     10    501  2015년   9월
9     214     14    475  2015년  10월
10    199      3    398  2015년  11월
11    213      8    428  2015년  12월
0     192      5    387  2016년   1월
1     174      6    328  2016년   2월
2     217      7    435  2016년   3월
3     216      7    419  2016년   4월
4     239     13    522  2016년   5월
5     200     12    362  2016년   6월
6     227      9    460  2016년   7월
7     230      7    490  2016년   8월
8     187     13    347  2016년   9월
9     183     10    367  2016년  10월
10    200      5    418  2016년  11월
11    168      4    364  2016년  12월

In [26]:
dfM.set_index( ['년도','월'])

           사고(건)  사망(명)  부상(명)
년도    월
2014년 1월     169      7    347
      2월     145      3    268
      3월     206     12    358
      4월     182      4    360
      5월     218     17    474
      6월     233     13    457
      7월     229     14    431
      8월     222      9    447
      9월     225     15    430
      10월    210     14    392
      11월    209     10    386
      12월    178     12    329
2015년 1월     205      8    375
      2월     175      8    375
      3월     237      4    492
      4월     227     10    486
      5월     231      9    504
      6월     207      8    401
      7월     273      7    556
      8월     268     19    534
      9월     252     10    501
      10월    214     14    475
      11월    199      3    398
      12월    213      8    428
2016년 1월     192      5    387
      2월     174      6    328
      3월     217      7    435
      4월     216      7    419
      5월     239     13    522
      6월     200     12    362
      7월     227      9    460
      8월     230      7    490
      9월     187     13    347
      10월    183     10    367
      11월    200      5    418
      12월    168      4    364